{% extends 'BinaerpilotenGraphWikiBundle::index.html.twig' %}

{% block body %}
    <h1>Page list</h1>
	<ul>
        {% for key, letter in pages %}
        {% if not letter is empty %}
        <li>{{ key }}
        	<ul>
        	{% for page in letter %}
        		{% if page != "" %}
            	{% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('page_edit', { 'pagename': page }) }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ path('page_show', { 'pagename': page }) }}">{{ page }}</a></li>
                {% endif %}
                {% endif %}
            {% endfor %}
		        </ul>
            </li>
        {% endif %}
        {% endfor %}
   </ul>
{% endblock %}
