{% extends 'BinaerpilotenGraphWikiBundle::index.html.twig' %}

{% block body %}
    <h1>{{ page.title }}</h1>
    
    <div>
    	{{ page.content }}
    </div>

    <hr>
    Erstellt von: <a href="{{ path('user_show', {'id': page.creator.id }) }}" >{{ page.creator.name }}</a> &ndash; zuletzt geändert: <a href="{{ path('user_show', {'id': page.editor.id }) }}" >{{ page.editor.name }}</a> am {{ page.last|date('d. M Y H:i') }}  
    <hr>
    
    <ul>
        <li><a href="{{ path('page_list') }}">Alle Seiten</a></li>
        <li><a href="{{ path('page_edit', { 'pagename': page.title }) }}">Ändern</a></li>
    </ul>
{% endblock %}
